.game_area{
  background: linear-gradient(180deg, rgba(9, 35, 175, 1) 0%, rgba(0,0,0,1)100%);
  color: #c9c9c9;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;  
  align-items: center;
}


.game_area_right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game_area_text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game_area_text h1{
  margin-bottom: 1.5em;
}

.game_area_text h2{
  margin-bottom: 2em;
}

.game_area_text h4{
  margin-bottom: 1em;
}

.game_area_hint{
  color: #ecfa00;
  font-weight: bold;
}


.letter_board{
  margin: 1.5em 1.5em 3em 1.5em;
  padding: 1.5em;
  border: 10px solid red;
  display: flex;

}

.letter, .blank_square {
  font-size: 3em;
  line-height: 1.5;
  border: 3px solid #000;
  width: 1.8em;
  height: 1.8em;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: aliceblue;
}

.form_game_area{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}

.form_game_area input{
  margin-right: 0.7em;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 2em;
}


.game_area_btn{
  width: 200px;
  height: 55px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
  background-color: #0F2042;
  color: #fff;
  border: 1px solid #929292;
  border-radius: 10px;
}

.game_area_btn:hover{
  background-color: #4f648d;
  transition: .4s;
}

.letters_played{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5em;
}

.letters_played img{
  width: 85px;
  margin-right: 50px;
}

.wrong_letter{
  color: #ecfa00;
  font-size: 2em;
}

.game_reset{
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
  background-color: #0F2042;
  color: #fff;
  border: 1px solid #929292;
  border-radius: 10px;
  margin-left: 200px;
}

.game_reset:hover{
  background-color: #4f648d;
  transition: .4s;
}